<div class="container">
    <div class="row">
      <div class="col-md-6">
        <form (ngSubmit)="onAddProject(p)" #p="ngForm">
          <div id="user-data">
              <div class="form-group form-inline">
                  <label for="projectName">Project : </label>
                  <input type="text" id="projectName" class="form-control" name="projectName" ngModel>
              </div>
              <div class="form-group form-inline">
                  <input #chkEnable ngModel type="checkbox"  id="setStartEndDate" class="form-control"  name="setStartEndDate" value="SetDates">Set Start and End date<br>
                  <input type="date" [disabled]="!chkEnable.checked" name="startDate" ngModel/>
                  <input type="date" [disabled]="!chkEnable.checked" name="endDate" ngModel/>
              </div>
              <div class="form-group form-inline">
                  <label for="priority">Priority : </label>
                  <input type="range" id="priority" name="priority" min="1" max="30" value="0" step="1" oninput="priorityValue.value = priority.value" ngModel>
                  <output name="priorityValue" id="priorityValue">0</output>
              </div>
              <div class="form-group form-inline">
                  <label for="userId">Manager : </label>
                  <input type="text" id="userId" class="form-control" name="userId" ngModel>
                  <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span> Search
                  </button>
              </div>
          </div>
          <button class="btn btn-primary" type="submit">Add</button>
          <button class="btn btn-primary" type="reset">Reset</button>
        </form>
      </div>
    </div>

    <div class="row">
        <hr>
        <h4>All Projects</h4>
        <hr>
        <ng-container #outputAllProjects >
        </ng-container>
        <ng-template #allProjects>
                <ul class="list-group" *ngFor="let project of projects">
                        <li class="list-group-item">(Project : {{project.projectName}} )</li>
                        <button class="btn btn-warning" (click)="editProject(project)" type="edit">Edit</button>
                        <button class="btn btn-danger"  (click)="deleteProject(project.projectId)" type="delete">Delete</button>
                </ul>
        </ng-template>
    </div>
</div>