<div class="container">
    <div class="row">
      <div class="col-md-6">
        <hr>
        <h3>Add Project</h3>
        <form (ngSubmit)="onAddProject(p)" #p="ngForm">
          <div id="user-data">
              <div class="form-group form-inline">
                  <label for="projectName">Project : </label>
                  <input type="text" id="projectName" class="form-control" name="projectName" [(ngModel)]="project.projectName">
              </div>
              <div class="form-group form-inline">
                  <input #chkEnable ngModel type="checkbox"  id="setStartEndDate" class="form-control"  name="setStartEndDate" value="SetDates">Set Start and End date<br>
                  <input type="date" [disabled]="!chkEnable.checked" name="startDate" [(ngModel)]="project.startDate"/>
                  <input type="date" [disabled]="!chkEnable.checked" name="endDate" [(ngModel)]="project.endDate"/>
              </div>
              <div class="form-group form-inline">
                  <label for="priority">Priority : </label>
                  <input type="range" id="priority" name="priority" min="1" max="30" value="0" step="1" oninput="priorityValue.value = priority.value" [(ngModel)]="project.priority">
                  <output name="priorityValue" id="priorityValue">0</output>
              </div>
              <div class="form-group form-inline">
                  <label for="userId">Manager : </label>
                  <input type="text" id="userId" class="form-control" name="userId" [(ngModel)]="project.user.userId">
                  
                  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
                        <span class="glyphicon glyphicon-search"></span> Search
                  </button>
              </div>
          </div>
          <button class="btn btn-primary" type="submit">Add</button>
          <button class="btn btn-primary" (click)="resetForm()" type="reset">Reset</button>
        </form>
      </div>
    </div>

    <div class="table-responsive">
            <ng-container #outputAllProjects >
                <hr>
                <h3>All Projects</h3>
                <table class="table table-bordered table-striped" id="projectstable">
                    <thead>
    
                    </thead>
                    <tbody>
                            <tr *ngFor="let project of projects; let i = index">
                                    <ng-template [ngTemplateOutlet]="getTemplate(project)" 
                                    [ngTemplateOutletContext]="{ $implicit: project, index: i }"></ng-template>
                             </tr>
                    </tbody>
                </table>
            </ng-container>
            <ng-template #displayTmpl let-project>
                <td>{{project.projectName}}</td>
                <td>{{project.startDate}}</td>
                <td>{{project.endDate}}</td>
                <td>{{project.priority}}</td>
                <td>
                    <button  class="btn btn-warning" (click)="editProject(project)">Edit</button>
                    <button  class="btn btn-danger" (click)="deleteProject(project.projectId)">Delete</button>
                </td>
            </ng-template>
            
                <ng-template #editTmpl let-project>
                <td><input type="text" [(ngModel)]="selected.projectName" /></td>
                <td><input type="date" [(ngModel)]="selected.startDate" /></td>
                <td><input type="date" [(ngModel)]="selected.endDate" /></td>
                <td><input type="text" [(ngModel)]="selected.priority" /></td>
                <td>
                    <button  class="btn btn-success"  (click)="saveUser(project)">Save</button>
                    <button  class="btn btn-primary" (click)="resetUser()">Cancel</button>
                </td>
            </ng-template>
        </div>
        <div id="myModal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog"  role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel"   >Select Manager for Project</h4>
                        </div>
                        <div class="modal-body">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                            <th>Select</th>
                                            <th>User Id</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Employee Id</th>
                                    </thead>
                                    <tbody>
                                            <ng-template  let-user ngFor [ngForOf]="users">
                                                    <tr *ngFor="let user of users">
                                                        <td><input type="checkbox"  value="{{user.userId}}"  (change)="changeCheckbox($event, user.userId)"  [(ngModel)]="project.user.userId" class="form-control" /></td>
                                                        <td>{{user.userId}}</td>
                                                        <td>{{user.firstName}}</td>
                                                        <td>{{user.lastName}}</td>
                                                        <td>{{user.employeeId}}</td>
                                                    </tr>
                                            </ng-template >
                                    </tbody>
                                </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
        </div>
</div>