<nav class="navbar navbar-default">
  <div class="container-fluid">
    
    <div class="navbar-header" >
      <a href="#" class="navbar-brand">Project Manager</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav " >
        <li><a href="#" (click)="setSelection('AddUser')">Add User</a></li>
        <li><a href="#" (click)="setSelection('AddProject')">Add Project</a></li>
        <li><a href="#" (click)="setSelection('AddTask')">Add Task</a></li>
        <li><a href="#" (click)="setSelection('ViewTask')">View Task</a></li>
      </ul>
    </div>
  </div>
</nav>