<div class="container">
    <div class="table-responsive">
        <ng-container #outputAllTasks >
            <hr>
            <h3>All Tasks</h3>
            <div class="row">
                <div class="col-md-3">
                    <h4> Project
                            <input type="text" placeholder="Project Name" [(ngModel)]="projectSearch">
                    </h4>
                </div>
                <div class="col-md-6">
                    <h4>Sort By
                    <div class="btn-toolbar">
                        <button  class="btn btn-success" sortColumn [sortKey]="'startDate'" [sortType]="'string'" [data]="tasks">Start Date</button>
                        <button  class="btn btn-success" sortColumn [sortKey]="'endDate'"  [sortType]="'string'" [data]="tasks">End Date</button>
                        <button  class="btn btn-success" sortColumn [sortKey]="'priority'"  [sortType]="'number'" [data]="tasks">Priority</button>
                    </div>
                    </h4>
                </div>
            </div>
            <table class="table table-bordered table-striped" id="taskstable">
                <thead>

                </thead>
                <tbody>
                        <tr *ngFor="let task of tasks | taskfilter:projectSearch; let i = index">
                                <ng-template [ngTemplateOutlet]="getTemplate(task)" 
                                [ngTemplateOutletContext]="{ $implicit: task, index: i }"></ng-template>
                         </tr>
                </tbody>
            </table>
        </ng-container>
        <ng-template #displayTmpl let-task>
            <td>{{task.taskName}}</td>
            <td>{{task.parentTask.parentTaskName}}</td>
            <td>{{task.project.projectName}}</td>
            <td>{{task.priority}}</td>
            <td>{{task.startDate | date :'shortDate'}}</td>
            <td>{{task.endDate | date : 'shortDate'}}</td>
            <td>{{task.status}}</td>
            <td>
                <div class="btn-toolbar">
                    <button  class="btn btn-warning" (click)="editTask(task)">Edit</button>
                    <button  class="btn btn-danger" (click)="endTask(task.taskId)">End Task</button>
                </div>
            </td>
        </ng-template>
        
            <ng-template #editTmpl let-task>
                <td><input type="text" [(ngModel)]="selected.taskName" /></td>
                <td><input type="text" [(ngModel)]="selected.parentTask.parentTaskName" /></td>
                <td><input type="text" [(ngModel)]="selected.project.projectName" /></td>
                <td><input type="text" [(ngModel)]="selected.priority" /></td>
                <td><input type="date" [(ngModel)]="selected.startDate" /></td>
                <td><input type="date" [(ngModel)]="selected.endDate" /></td>
                <td><input type="text" [(ngModel)]="selected.status" /></td>
            <td>
                <div class="btn-toolbar">
                    <button  class="btn btn-success"  (click)="saveTask(task)">Save</button>
                    <button  class="btn btn-primary" (click)="resetTask()">Cancel</button>
                </div>
            </td>
        </ng-template>
    </div>
</div>