<div class="container">
    <div class="row">
      <div class="col-md-6">
        <form (ngSubmit)="onAddTask(t)" #t="ngForm">
          <div id="user-data">
              <div class="form-group form-inline">
                  <label for="projectName">Project : </label>
                  <input type="text" id="projectName" class="form-control" name="projectName" ngModel>
                  <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span> Search
                  </button>
              </div>
              <div class="form-group form-inline">
                  <label for="taskName">Task : </label>
                  <input type="text" id="taskName" class="form-control" name="taskName" ngModel>
              </div>
              <div class="form-group form-inline">
                  <input #chkEnable ngModel type="checkbox"  id="isParent" class="form-control"  name="isParent" value="isParent">ParentTask
              </div>
              <div class="form-group form-inline">
                  <label for="priority">Priority : </label>
                  <input [disabled]="chkEnable.checked"  type="range" id="priority" name="priority" min="1" max="30" value="0" step="1" oninput="priorityValue.value = priority.value" ngModel>
                  <output name="priorityValue" id="priorityValue">0</output>
              </div>
              <div class="form-group form-inline">
                  <label for="parentTask">Parent Task : </label>
                  <input type="text" [disabled]="chkEnable.checked"  id="parentTask" class="form-control" name="parentTask" ngModel>
                  <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span> Search
                  </button>
              </div>
              <div class="form-group form-inline">
                  <label for="startDate">StartDate : </label>
                  <input type="date" [disabled]="chkEnable.checked" name="startDate" ngModel/>
                  <label for="endDate">EndDate : </label>
                  <input type="date" [disabled]="chkEnable.checked" name="endDate" ngModel/>
              </div>
              <div class="form-group form-inline">
                  <label for="userId">User : </label>
                  <input type="text" id="userId" class="form-control" name="userId" ngModel>
                  <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span> Search
                  </button>
              </div>
          </div>
          <button class="btn btn-primary" type="submit">Add Task</button>
          <button class="btn btn-primary" type="reset">Reset</button>
        </form>
      </div>
    </div>

    <div class="row">
        <hr>
        <h4>All Tasks</h4>
        <hr>
        <ng-container #outputAllTasks >
        </ng-container>
        <ng-template #allTasks>
                <ul class="list-group" *ngFor="let task of tasks">
                        <li class="list-group-item">(Task : {{task.taskName}} {{task.project?.projectName}} {{task.parentTask?.parentTaskName}} )</li>
                        <button class="btn btn-warning" (click)="editTask(task)" type="edit">Edit</button>
                        <button class="btn btn-danger"  (click)="deleteTask(task.taskId)" type="delete">Delete</button>
                </ul>
        </ng-template>
    </div>
</div>