<div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Add Task</h3>
        <form (ngSubmit)="onAddTask(t)" #t="ngForm">
          <div id="task-data">
              <div class="form-group form-inline" style="width: 100%;">
                  <label for="projectName"  style="width: 20.1%;">Project : </label>
                  <input type="text" id="projectName" class="form-control" name="projectName" [(ngModel)]="task.project.projectId"  required #prname="ngModel">
                  <button type="button" class="btn btn-default"  data-toggle="modal" data-target="#projectModal">
                        <span class="glyphicon glyphicon-search"></span> Search
                  </button>
                  <span class="help-block" *ngIf="!prname.valid && prname.touched">Please select valid project </span>
              </div>
              <div class="form-group form-inline" style="width: 100%;">
                  <label for="taskName"  style="width: 20.1%;">Task : </label>
                  <input type="text" id="taskName" class="form-control" name="taskName"  [(ngModel)]="task.taskName"  required #tname="ngModel">
                  <span class="help-block" *ngIf="!tname.valid && tname.touched">Please enter valid task name  </span>
              </div>
              <div class="form-group form-inline" style="width: 100%;">
                  <input #chkEnable ngModel type="checkbox"  id="isParent" class="form-control"  name="isParent" value="isParent">Parent Task
              </div>
              <div class="form-group form-inline" style="width: 100%;">
                  <label for="priority"  style="width: 20.1%;">Priority : </label>
                  <input [disabled]="chkEnable.checked" style="width: 55.1%;" type="range" id="priority" name="priority" min="1" max="30" value="0" step="1" oninput="priorityValue.value = priority.value"  [(ngModel)]="task.priority">
                  <output name="priorityValue" id="priorityValue">0</output>
              </div>
              <div class="form-group form-inline" style="width: 100%;">
                  <label for="parentId"  style="width: 20.1%;">Parent Task : </label>
                  <input type="text" [disabled]="chkEnable.checked"  id="parentId" class="form-control" name="parentId"  [(ngModel)]="task.parentTask.parentId" required #paname="ngModel">
                  <button type="button" class="btn btn-default"  data-toggle="modal" data-target="#parentModal">
                        <span class="glyphicon glyphicon-search"></span> Search
                  </button>
                  <span class="help-block" *ngIf="!paname.valid && paname.touched && !chkEnable.checked">Please select valid parent task </span>
              </div>
              <div class="form-group form-inline" style="width: 100%;">
                  <label for="startDate"  style="width: 20.1%;">StartDate : </label>
                  <input type="date" [disabled]="chkEnable.checked" name="startDate" [(ngModel)]="task.startDate" required #startdateref="ngModel"/>
                  <span class="help-block" *ngIf="!startdateref.valid && startdateref.touched">Please enter valid start date</span>
               </div>
               <div class="form-group form-inline" style="width: 100%;">
                    <label for="endDate"  style="width: 20.1%;">EndDate : </label>
                  <input type="date" [disabled]="chkEnable.checked" name="endDate" [(ngModel)]="task.endDate" required #enddateref="ngModel" (blur)="compareTwoDates(enddateref)"/>
                  <span class="help-block" *ngIf="!enddateref.valid && enddateref.touched">Please enter valid end date</span>
                  <div *ngIf="error.isError" class="alert alert-danger">
                        {{ error.errorMessage }}
                     </div>
              </div>
              <div class="form-group form-inline" style="width: 100%;">
                  <label for="userId"  style="width: 20.1%;">User : </label>
                  <input type="text" id="userId" class="form-control" name="userId" [(ngModel)]="task.user.userId"  required #uid="ngModel">
                  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#ownerModal">
                        <span class="glyphicon glyphicon-search"></span> Search
                  </button>
                  <span class="help-block" *ngIf="!uid.valid && uid.touched">Please select owner for task</span>
              </div>
          </div>
          <div class="btn-toolbar">
            <button class="btn btn-primary" type="submit"  [disabled]="!t.valid">Add Task</button>
            <button class="btn btn-primary" type="reset">Reset</button>
           </div>
        </form>
      </div>
    </div>
    <div id="ownerModal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="ownerModalLabel">
            <div class="modal-dialog"  role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="ownerModalLabel"   >Select Manager for Project</h4>
                    </div>
                    <div class="modal-body">
                            <table class="table table-bordered table-striped">
                                <thead>
                                        <th>Select</th>
                                        <th>User Id</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Employee Id</th>
                                </thead>
                                <tbody>
                                        <ng-template  let-user ngFor [ngForOf]="users">
                                                <tr>
                                                    <td><input type="checkbox"  value="{{user.userId}}"  (change)="changeCheckbox($event, user.userId)" class="form-control" /></td>
                                                    <td>{{user.userId}}</td>
                                                    <td>{{user.firstName}}</td>
                                                    <td>{{user.lastName}}</td>
                                                    <td>{{user.employeeId}}</td>
                                                </tr>
                                        </ng-template >
                                </tbody>
                            </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
                    </div>
                </div>
            </div>
    </div>

    <div id="parentModal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="parentModalLabel">
            <div class="modal-dialog"  role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="parentModalLabel"   >Select Parent Task</h4>
                    </div>
                    <div class="modal-body">
                            <table class="table table-bordered table-striped">
                                <thead>
                                        <th>Select</th>
                                        <th>Parent Id</th>
                                        <th>Parent Task Name</th>
                                </thead>
                                <tbody>
                                        <ng-template  let-parenttask ngFor [ngForOf]="parenttasks">
                                                <tr>
                                                    <td><input type="checkbox"  value="{{parenttask.parentId}}"  (change)="changeParentCheckbox($event, parenttask.parentId)" class="form-control" /></td>
                                                    <td>{{parenttask.parentId}}</td>
                                                    <td>{{parenttask.parentTaskName}}</td>
                                                </tr>
                                        </ng-template >
                                </tbody>
                            </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
                    </div>
                </div>
            </div>
    </div>

    <div id="projectModal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="projectModalLabel">
            <div class="modal-dialog"  role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="projectModalLabel"   >Select Project</h4>
                    </div>
                    <div class="modal-body">
                            <table class="table table-bordered table-striped">
                                <thead>
                                        <th>Select</th>
                                        <th>Project Id</th>
                                        <th>Project Name</th>
                                        <th>Project Manager</th>
                                </thead>
                                <tbody>
                                        <ng-template  let-project ngFor [ngForOf]="projects">
                                                <tr>
                                                    <td><input type="checkbox"  value="{{project.projectId}}"  (change)="changeProjectCheckbox($event, project.projectId)" class="form-control" /></td>
                                                    <td>{{project.projectId}}</td>
                                                    <td>{{project.projectName}}</td>
                                                    <td>{{project?.user?.firstName}} {{project?.user?.lastName}} </td>
                                                </tr>
                                        </ng-template >
                                </tbody>
                            </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
                    </div>
                </div>
            </div>
    </div>
</div>