<div class="container">
    <div class="row">
      <div class="col-md-6">
        <hr>
        <h3>Add User</h3>
        <form (ngSubmit)="onAddUser(f)" #f="ngForm">
          <div id="user-data">
              <div class="form-group form-inline">
                  <label for="firstName">First Name : </label>
                  <input type="text" id="firstName" class="form-control" name="firstName" ngModel>
              </div>
              <div class="form-group form-inline">
                  <label for="lastName">Last Name : </label>
                  <input type="text" id="lastName" class="form-control" name="lastName" ngModel>
              </div>
              <div class="form-group form-inline">
                  <label for="employeeId">Employee Id : </label>
                  <input type="text" id="employeeId" class="form-control" name="employeeId" ngModel>
              </div>
          </div>
          <button class="btn btn-primary" type="submit">Add</button>
          <button class="btn btn-primary" type="reset">Reset</button>
        </form>
      </div>
    </div>
    
    <div class="table-responsive">
        <ng-container #outputAllUsers >
            <hr>
            <h3>All Users</h3>
            <table class="table table-bordered table-striped" id="userstable">
                <thead>

                </thead>
                <tbody>
                        <tr *ngFor="let user of users; let i = index">
                                <ng-template [ngTemplateOutlet]="getTemplate(user)" 
                                [ngTemplateOutletContext]="{ $implicit: user, index: i }"></ng-template>
                         </tr>
                </tbody>
            </table>
        </ng-container>
        <ng-template #displayTmpl let-user>
            <td>{{user.employeeId}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>
                <button  class="btn btn-warning" (click)="editUser(user)">Edit</button>
                <button  class="btn btn-danger" (click)="deleteUser(user.userId)">Delete</button>
            </td>
        </ng-template>
        
            <ng-template #editTmpl let-user>
            <td><input type="text" [(ngModel)]="selected.employeeId" /></td>
            <td><input type="text" [(ngModel)]="selected.firstName" /></td>
            <td><input type="text" [(ngModel)]="selected.lastName" /></td>
            <td>
                <button  class="btn btn-success"  (click)="saveUser(user)">Save</button>
                <button  class="btn btn-primary" (click)="resetUser()">Cancel</button>
            </td>
        </ng-template>
    </div>
</div>
